---
---

/* // @import url("https://fonts.googleapis.com/css?family=Quicksand"); */


body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.w-400px{
    width: 400px;
}

.font-size-large{
    font-size: 1.25em;
}

.font-quicksand {
    font-family: 'Quicksand', Noto, sans-serif
}

.font-poiret {
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    line-height: 1.7rem;
    color: #B8B3A7;
}

span.color-black {
    font-family: 'Poiret One', cursive;
    color: black;
}

.font-poiret-l {
    font-family: 'Poiret One', cursive;
    font-size: 1.6em;
    line-height: 1.5rem
}

.A-justificado {
    text-align: right;
}

.B-justificado {
    text-align: left;
}

.mi-gris {
    color: #000000;
}

@media screen and (max-width: 590px) {
    .A-justificado {
        text-align: center;
    }
    .B-justificado {
        text-align: center;
    }
}

/*
@media (min-width: 576px){
    .font-size-sm-normal{
        font-size: 1em;
    }
}*/


