---
---

/* // @import url("https://fonts.googleapis.com/css?family=Quicksand"); */


body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.font-size-large{
    font-size: 1.25em;
}

.font-quicksand {
    font-family: 'Quicksand', Noto, sans-serif
}

/*
@media (min-width: 576px){
    .font-size-sm-normal{
        font-size: 1em;
    }
}*/


